@page "/admin/dashboard"

<PageTitle>Administration - BookHub</PageTitle>

<h1>Tableau de bord administrateur</h1>

<div class="row mb-4">
    <div class="col-md-3">
        <div class="card text-white bg-primary">
            <div class="card-body">
                <h5 class="card-title">Livres</h5>
                <p class="card-text display-6">--</p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card text-white bg-success">
            <div class="card-body">
                <h5 class="card-title">Emprunts actifs</h5>
                <p class="card-text display-6">--</p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card text-white bg-danger">
            <div class="card-body">
                <h5 class="card-title">En retard</h5>
                <p class="card-text display-6">--</p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card text-white bg-info">
            <div class="card-body">
                <h5 class="card-title">Utilisateurs</h5>
                <p class="card-text display-6">--</p>
            </div>
        </div>
    </div>
</div>

@code {
}
